{% extends '/layout.html' %}

{% block title %}皮蛋 - 我的项目{% endblock %}

{% block body %}
{{ super() }}
<h1>我的项目</h1>
<a href="{{ url_for('projects.create_project') }}">创建项目</a>

<div>
    {% for project in projects %}
        <div style="float: left; width: 200px;height: 100px; color: black; margin: 10px; border: 2px solid black;">
            <a href="{{ url_for('projects.detail', project_id=project.id) }}">{{ project }}</a>
            &nbsp;&nbsp;
            <a href="javascript:delete_project('{{ project.id }}');">X</a>
        </div>
        
    {% endfor %}
</div>

<script type="text/javascript">
    function delete_project(project_id) {
        alert(project_id);
        let json_data = {'project_id': project_id};
        $.post('{{ url_for("projects.delete_project") }}', JSON.stringify(json_data), function(data) {
            window.location = '{{ url_for("projects.index") }}';
        });
    }

    $(document).ready(function() {

    });
</script>
{% endblock %}